@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Container-login {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.Container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email, #password, #name, #rol {
    margin-bottom: 20px;
    width: 420px;
    height: 20px;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 20px;
    border: none;
    padding: 10px ;
    font-size: 16px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat';
}
.Button-register {
    width: 230px;
    height: 35px;
    background: #D11D17;
    border-radius: 40px;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    margin-top: 20px;

}