img.Logo-Header {
    width: 6%;
}

.bg-dark {
    background-color: #00001b!important;
}

div#navbarText li {
    margin: 10px;
    
}

div#navbarText li a{
    color: white;
    font-family: 'Montserrat';
    text-decoration: none;
}

p.textLogOut {
    color: white;
    margin: 0px 10px 0px 10px;
}

/*.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: -500px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}*/