/* CONTAINER PEDIDOS CHEF */

.container-order-chef {
  font-family: "Montserrat";
  margin: 30px 20px 0px 20px;
}

#arrowBack {
  font-size: 35px;
  color: #00001b;
}

/* FIN CONTAINER PEDIDOS CHEF */

/* TITULO PEDIDOS CHEF */

h1.tittleOrderChef {
  text-align: center;
  margin: 15px;
  color: #00001b;
}

/* FIN TITULO PEDIDOS CHEF */

/* CONTAINER PEDIDOS */

.containerOrders {
  margin: 15px;
  display: flex;
}

.container-minicontainer-btn-hour-state {
  display: flex;
}

.minicontainer-orders {
  width: 400px;
  background: rgba(0, 0, 0, 0.2);
  /* border: 1px solid #000000; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px;
  margin: 0px 10px 0px 0px;
}

p.infoClient {
  display: initial;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 700;
}

.infoOrder p {
  margin: 2px;
}

.tittleProducts {
  font-weight: 700;
}

.btnsOrderChef {
  height: 35px;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  background: #23DD36;

}

button.btnsOrderChef:hover {
  background: #1b9827;
  transition: 0.2s;
}

p.textStateOrder,
p.textDeliveredOrder {
  margin: 2px 5px;
  font-weight: 600;
  font-size: 19px;
}

.stateOrder {
  color:  #D11D17;
  font-weight: bold;
}


/* FIN CONTAINER PEDIDOS */

/*MODAL*/
.Button-confirm-order {
  background-color: #1b9827;
  margin: 5px 5px;
  width: 120px;
  height: 35px;
  border-radius: 40px;
  border: none;
  color: white;
  font-family: 'Montserrat';
  font-size: 20px;
  /* margin-top: 20px;*/
}

.modal-footer-chef {
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding: 30px;
}

.modal-header-chef {
  border-bottom: 1px solid #00172B;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  padding-top: 10px;

}
